.mainDiv {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 10%;
}

.inputDiv {
  width: 250px;
  height: 54px;
  position: relative;
  display: inline;
}

.refDiv {
  width: 250px;
  height: 300px;
  overflow: scroll;
}

.inputClass:focus-visible {
  border: 2px solid #205dd8 !important;
  outline: none;
}

.inputClass {
  font-size: 13px;
  color: white;
  background-color: transparent;
  width: 230px;
  padding: 15px 7px;
  border: 2px solid #205dd8;
  border-radius: 10px;
}

.divDownButton {
  border: none;
  z-index: 999;
  height: 24px;
  width: 25px;
  position: absolute;
  top: 2px;
  right: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1b1d24;
}

.downButton {
  cursor: pointer;
  color: #205dd8;
  border: none;
  background: none;
}

.suggestionsDiv {
  width: 245px;
  color: white;
  overflow: scroll;
  margin-top: 2px;
  max-height: 60%;
  border: 2px solid #394157;
  border-radius: 10px;
}

.suggList {
  border: none;
  list-style-type: none;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

.listItem {
  padding: 7px 7px;
  font-size: 13px;
  display: inline-block;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: white;
  background-color: transparent;
  width: 100%;
}

.listItem:hover {
  background-color: #242b3e;
  color: #205dd8;
}

.suggSelectedDiv {
  width: 250px;
  color: white;
  background-color: transparent;
  font-size: 13px;
  padding: 15px 5px;
}
